---
import "../styles/global.css";
import Sidebar from "../components/Sidebar.astro";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title} | Admin Dashboard</title>

    
  </head>
  <body class="bg-background font-body text-text-primary antialiased">
    <div class="flex h-screen">
      <Sidebar />
      <main class="flex-grow p-4 sm:p-6 md:p-8 overflow-y-auto">
        <slot />
      </main>
    </div>
    
    <!-- Contenedor global de notificaciones -->
    <div id="notifications-container" class="fixed top-4 right-4 z-50 space-y-3 pointer-events-none">
      <!-- Las notificaciones se insertarán aquí dinámicamente -->
    </div>

    <script>
      import "../services/notifications.ts";
    </script>
  </body>
</html>
