---
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import AcademicFooter from "../components/AcademicFooter.astro";
import "../styles/global.css";

interface Props {
  title: string;
  showAcademicFooter?: boolean;
}

const { title, showAcademicFooter = true } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-background font-body text-text-primary antialiased min-h-screen flex flex-col">
    <main class="flex-1">
      <slot />
    </main>
    {showAcademicFooter && <AcademicFooter variant="default" />}
  </body>
</html>
